@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* BASIC RESET */
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

img {
  display:block; 
  max-width:100%; 
  height:auto;
}

/* VARIABLES */

:root {
  --FF: "Quicksand";
  --FCOLOR-LIGHT: #ff7096;
  --FCOLOR-DARK: #333;
  
  --FCOLOR-BTN: white;

  --BGCOLOR: white;
  --BTN--BGCOLOR:var(--FCOLOR-LIGHT);
  

  --BORDER-COLOR: rgb(177, 177, 177);
  --BORDER-RADIUS: 5px;

  --NAVBAR-LINK-COLOR:var(--FCOLOR-DARK);
  --NAVBAR-HOVER-LINK-COLOR:#1b1b1b;
  --LINK-COLOR: #006ba6;
  --HOVER-LINK-COLOR: #0079b9;
  
}

/* UNIVERSAL STYLE */

/* for buttons */
.btn {
  border-radius: var(--BORDER-RADIUS);
  font-family: inherit;
  font-weight: 700;
}

.btn--borrow {
  grid-area: btn;
  width: clamp(75px, 20vw, 100px);
  max-height: 60px;

}

.btn--search {
  margin: 0.7rem;
  padding: 0.4rem 1rem;
}

.btn--login, .btn--register {
  width: clamp(60px, 10vw, 120px);
  height: clamp(30px, 5vw, 40px);
  font-size:  clamp(0.8rem, 2.2vw, 1.1rem);
  border-radius: 15px;
  font-weight: 600;

  background: var(--FCOLOR-LIGHT);
}

.btn--close {
  border-radius: 15px;
  margin:0 2rem;
  font-weight: bolder;
  cursor: pointer;
}
/* when something goes wrong */

.incorrect-data-text {
  font-size: 0.8rem;
}

.error-text {
  font-size: 0.8rem;
  color: red;
  font-weight: bold;
}

/* for forms */

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}

.form__fields {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.form__fields input {
  border-radius: var(--BORDER-RADIUS);
  width: clamp(100px,25vw,400px);
  height: clamp(15px, 5vh, 30px);

  border: 1px solid var(--BORDER-COLOR);
}

.form__radios {
  font-size: 0.8rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.radio-container {
  display:inherit;
  gap:0.3rem;
}

.radio-container input {
  width: 15px;
  height: 15px;
}
/* for double-divided page */

.panel-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.panel-wrapper__panel--no-image-background {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}

.panel-wrapper__panel--image-background {
  background: var(--FCOLOR-LIGHT);
  background-image: url('./images/background3.jpg');
  background-size:cover;
  background-position: center;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.panel-wrapper__title {
  color: black;
  font-size: clamp(1rem, 5vw, 2.2rem);
}

.panel-wrapper__paragraph {
  font-size: clamp(0.8rem, 2.5vw, 1.2rem); 
}

.panel-wrapper__paragraph--long-text {
  padding: 0 1.5rem
}

.panel-wrapper__link {
  text-decoration: none;
  color: var(--LINK-COLOR);
  font-weight: bolder;
}

.panel-wrapper__link:hover {
  color: var(--HOVER-LINK-COLOR);
}

/* for books list */

.books {
  /* grid-area: books; */

  /* display: flex;
  flex-flow: column nowrap; */
  padding-top: 1rem;
}

.book-list {
  padding: 0;
}

.book {
  list-style-type: none;
  padding: 1rem;
  border-bottom: 1px solid var(--BORDER-COLOR);

  display: grid;
  grid-template-areas: 
  "title btn"
  "descr btn";
  grid-template-columns: 1fr 0.2fr;

  margin: 0 3rem;

  justify-items: left;  
  /* justify-content: space-between; */
}


.book h2 {
  grid-area: title;

  color: #006ba6;
  padding-bottom: 0.5rem;
}

.book p {
  grid-area: descr;
}

/* for icons */

.icon {
  display: inline;
  width: 20px;
  height: 20px;
}

/* STYLE */

.App {
  font-family: var(--FF);
  color: var(--FCOLOR-DARK);
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 5fr;
  row-gap:0;

  position: relative;
}


/* header */
.header {
  border-bottom: 1px solid var(--BORDER-COLOR);

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.header__title {
  color: var(--FCOLOR-LIGHT);
  font-size: clamp(1rem, 5vw, 2.4rem);
}

.header__navbar  {
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.header__navbar a {
  display: inline-block;
  text-decoration: none;
  font-weight: 550;
}

.header__navbar a:hover {
  color: inherit;
  font-weight: 700;
}

/* homepage */
.homepage {
  display: grid;
  grid-template-areas: 
  "filter logout-text"
  "filter books"
  "filter books";
  grid-template-columns: 1fr 4fr;
}

/* --logout sentence */

.logout-text {

  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  margin: 0.4rem 3rem;
  border-radius: 15px;
  background-color: #99d98c;
}

/* --search filter */

.filter {
  grid-area: filter;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 0.3fr;
  
  padding: 0.5rem 0;

  border-right: 1px solid var(--BORDER-COLOR);
}

.filter__title {
  padding-bottom: 0.3rem ;
}

.filter__types {
  border-top: 1px solid var(--BORDER-COLOR);
  padding-top: 0.5rem;
}

.filter__types ul {
  padding: 0;
  margin: 0 1rem;

  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.filter__publishyear {
  border-top: 1px solid var(--BORDER-COLOR);
  padding-top: 0.5rem;
  
  display: flex;
  flex-flow: column nowrap;

}

.filter__publishyear input {
  margin: 0 0.5rem;
  border: solid 1px var(--BORDER-COLOR);
  border-radius: var(--BORDER-RADIUS);
}

/* log in page */
.loginPage {
  grid-template-areas: 
  "main-content minor-content";
}

.loginPage__login-section {
  grid-area: main-content;
}


.loginPage__register-text-section {
  grid-area: minor-content;

  font-size: 1rem;
}


/* register page */

.registerPage {
  grid-template-areas: 
  "minor-content main-content";
}

.registerPage__register-section {
  grid-area: main-content;
}

.registerPage_welcome-section {
  grid-area: minor-content;
}

/* user page  */

.UserPage {
  display: grid;
  grid-template-areas: 
  "sidebar page-content";
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  grid-area: sidebar;

  border-right: 1px solid var(--BORDER-COLOR);

  display:grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(1fr, 6); */
  grid-template-rows: repeat(1fr, 4);

  /* font-size: 1.2rem; */
  font-size: 1.3rem;
}

.sidebar__element {
  border-bottom: 1px solid var(--BORDER-COLOR);

  display: flex;
  flex-flow: row nowrap;
  justify-content:left;
  align-items: center;
  gap:0.8rem;

  padding-left: 1.5rem;

  font-weight: 500;
}

.sidebar__element a {
  text-decoration: none;
  color: inherit;
}

.sidebar__element img {
  display: inline-block;
  vertical-align:text-bottom;
  margin-top: 0.2rem;
}

.marked {
  font-weight: 900;
}

/* UserPage - borrows */

.borrows {
  grid-area: page-content;
}

/* UserPage - details */

.details {
  grid-area: page-content;

  font-size: 1.3rem;
  display:grid;
  grid-template-areas: 
  "title image"
  "first-name image"
  "last-name image"
  "email image"
  "phone image";
  justify-content: left;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  padding: 0 0 0 1.5rem;
}

.details__title {
  grid-area: title;
  display: flex;
  justify-content: left;
  align-items:center;
  padding-top: 0.7rem;

}

.details__data {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.details__data--first-name {
  grid-area: first-name;
}

.details__data--last-name {
  grid-area: last-name;
}

.details__data--email {
  grid-area: email;
  display: flex;
  justify-content: center;
  align-items: center;

}

.details__data--phone {
  grid-area: phone;
  margin-bottom: 1rem;
}

.details__field {
  display: block;
  background-color: #ff7096;
  border-radius: 15px;
  margin: 0.5rem;
  height: 6vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.details__image {
  grid-area: image;
  
  background-image: url('./images/details5.jpg');
  background-size: cover;
  background-position:center;
}

.details__image div {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.384);
}

/* user page - settings */

.settings {
  grid-area: page-content;

  font-size: 1.3rem;
  display:grid;
  grid-template-areas: 
  "title image"
  "first-name image"
  "last-name image"
  "email image"
  "phone image"
  "password image";
  /* justify-content: left; */
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0 0 0 1.5rem;

 
}

.settings__title {
  grid-area: title;
  display: flex;
  justify-content: left;
  align-items:center;
  padding: 0.7rem 0;
}

.settings__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4rem;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.settings__label-description {
  padding-right: 0.5rem;
}

.settings__data--first-name {
  grid-area: first-name;
}

.settings__data--last-name {
  grid-area: last-name;
}

.settings__data--email {
  grid-area: email;
}

.settings__data--phone {
  grid-area: phone;
}

.settings__data--password {
  grid-area: password;
}

.settings__image {
  grid-area: image;

  background-image: url('./images/details3.jpg');
  background-size: cover;
  background-position:center;
}

.settings__image div {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.384);
}

.settings__content {
  display: contents;
}

.btn--edit {
  background-color: var(--FCOLOR-LIGHT);
  width: 80px;
  height: 30px;
}

/* edit content */

.edit__container {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.61);
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.edit__content {
  background-color: white;
  width: 40%;
  height: 50%;
  border: 1px solid black;
  padding: 2.5rem;

  display: grid;
  grid-template-areas: 
  "title title"
  "input-container input-container"
  "cancel-btn save-btn";
  grid-template-columns: repeat(2, 1fr);  
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1.8rem;
}

.edit__title {
  grid-area: title;
  text-align: left;
}

.edit__input-container {
  grid-area: input-container;

  display: flex;
  flex-flow: column nowrap;
}

.edit__label {
  text-align: left;
  font-size: 1rem;
  padding-bottom: 0.3rem;
}

.edit__content input {
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 10px;
  height: 6vh;
  width: 100%;

  font-family: inherit;
}

.btn--cancel {
  grid-area: cancel-btn;
}

.btn--save {
  grid-area: save-btn;
  background-color: var(--FCOLOR-LIGHT);
}